<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Komunitas</h2>
                <p class="lead">JOE adalah sebuah inisiatif yang muncul post­JENI (Java Education Network Indonesia), yang dikembangkan BKLN pada tahun 2006, karena menyangkut banyak perguruan tinggi tersebar di Indonesia (69 kampus) yang masih menggunakannya untuk belajar mengajar, material yang digunakan sebagai bahan acuan mengelola SMK sesuai area­nya padahal beberapa teknologinya sudah tidak dilanjutkan (discontinued) dan digantikan dengan teknologi baru, serta munculnya teknologi baru sekitar Java, terkait Android, ESB, BigData dan Web.</p>
                <p class="lead">Adapun JOE ini adalah lapis pertama dari kegiatan pendukung operasional usaha di Industri, meliputi penyediaan sumber daya keahlian jaringan, dan aplikasi. Sedangkan lapis berikutnya adalah penyediaan sumber daya keahlian mengoperasikan aplikasi termasuk kegiatan pendukung industri seperti mengoperasikan, mengelola dan memelihara sistem yang dikembangkan dari program ini. JOE lapis pertama adalah platform solusi yang akan diciptakan.</p>
            </div>
        </div><!-- /.container -->
</div><!-- /.row -->    