<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Platform</h2>
                <p class="lead">Cimande Workspace adalah dasar/pondasi dari sebuah aplikasi, posisi Cimande berada pada lapisan setelah user management dan sebelum aplikasi. Cimande bekerja seperti workspace setiap orang pada sebuah kantor.</p>
            </div>
        </div>
</div>
<div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-stack fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Cimande Platforms</h4>
                        <p>Web Platform Workspace, Web Mobile Platform Workspace, Metadata Abstraction Generator, Android application.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-spinner fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Development Cycle</h4>
                        <p>Kami mengembankan platform ini menjadi suatu ekosistem dan Apache Maven menjadi kunci penting dalam proyek kami.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-office fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Architecture</h4>
                        <p>Cimande adalah middleware untuk membantu developer mengembangkan aplikasi bisnis dengan lebih cepat. Idenya kelihatan seperti Spring tapi kami memiliki fitur people management.</p>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-cog2 fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Technologies</h4>
                        <p>Teknologi Cimande menggunakan : Struts2, Hibernate, REST, Spring, Spring Social, Maven, Ajax, Velocity, Freemarker, JSP, Tomcat, MySQL dan Eclipse.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-link fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Integration</h4>
                        <p>Gabungan dari beberapa produk atau aplikasi yang dibangun dengan Cimande sehingga memiliki fitur yang lebih lengkap dan kuliatas yang lebih baik.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-spinner2 fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Module DevCycle</h4>
                        <p>Pengembangan modul tingkat tinggi menjadi wadah pengembangan, yang dapat menghasilkan modul aplikasi yang dapat diintegrasikan ke Cimande atau aplikasi yang didasarkan pada spesifikasi Cimande.</p>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row">
      <div class="container">
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-globe fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>Galaxy</h4>
                      <p>Sebuah konsep yang membuat proyek Cimande tidak hanya wadah untuk semua proyek BlueOxygen, tetapi juga konektor. Cimande Galaxy (incubation) dapat diinstal secara sendiri atau bagian dari proyek lain.</p>
                  </div>
              </div>
          </div>  

          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-table fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>ERD</h4>
                      <p>Diagram hubungan entitas yang membantu anda memahami bagaimana cara kerja Cimande. </p>
                  </div>
              </div>
          </div>
          
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-list2 fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>
                  <div class="media-body">
                      <h4>DropList</h4>
                      <p>Elemen pengontrol grafis berupa pilihan berbasis konten, mirip dengan kotak pilihan, yang memungkinkan pengguna untuk memilih salah satu pilihan pada daftar.</p>
                  </div>
              </div>
          </div>
      </div>
</div>
<div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-loop2 fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>SDK Makes SDK</h4>
                        <p>Sejak 1.2.3, kami hanya merilis Cimande dalam bentuk SDK bundel. SDK akan membantu anda membuat aplikasi pada Cimande, menjadi aplikasi lain atau membuat SDK Anda sendiri.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-wrench fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Deployment</h4>
                        <p>Pengembangaan mekanisme untuk men-deploy aplikasi menggunakan Cimande untuk digunakan dalam produk aplikasi lain, dan dapat dijalankan secara tersendiri.</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class= "container">
            <div class="pull-right">
                <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
            </div>
        </div>
</div>