<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Support</h2>
                <p class="lead">Kami menyediakan dukungan bagi anda yang berminat bergabung bersama kami. Kontak :
                </p>
                	<ul>Frans Thamura, Meruvian, frans@meruvian.com, 08557888699</ul>
  					<ul>I Budiyanto, TEDC, ibudiyanto@gmail.com, +6289683279745 </ul>
  					<ul>Tedjo Darmanto, AMIK Bandung, tedjodarmanto@yahoo.com </ul>
            </div>
        </div><!-- /.container -->
</div><!-- /.row -->
        