<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Teknologi</h2>
                <p class="lead">Dalam implementasi kurikulum ditemukan overlap material, dimana setiap topik berbasis teknologi digunakan oleh 2 mata pelajaran. Untuk itu dikembangkan kompetensi teknologi berdasarkan teknologinya, yang dapat disusun menjadi kurikulum (umumnya 2 area) dan juga dari teknologi tersebut dapat dibuat hubungan keterkaitan pengembangan solusi industri.</p>
            </div>
        </div>
</div>
<div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-calculate fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Web</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-expand2 fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>OO Design Patern</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-tree fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>Enterprise Integration Patern</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-book fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>HTML 5</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class=" icon-pen fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>REST W/S</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-tags fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4>BPM</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row">
      <div class="container">
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-stopwatch fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>OOP</h4>
                      <p></p>
                  </div>
              </div>
          </div>  

          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-laptop fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>MVC</h4>
                      <p></p>
                  </div>
              </div>
          </div>
          
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-library fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>
                  <div class="media-body">
                      <h4>ESB</h4>
                      <p> </p>
                  </div>
              </div>
          </div>
      </div>
</div>
<div class="row">
      <div class="container">
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-stopwatch fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>AI</h4>
                      <p></p>
                  </div>
              </div>
          </div>  

          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-laptop fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>DBMS</h4>
                      <p></p>
                  </div>
              </div>
          </div>
          
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-library fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>
                  <div class="media-body">
                      <h4>BigData</h4>
                      <p> </p>
                  </div>
              </div>
          </div>
      </div>
</div>
<div class="row">
      <div class="container">
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-stopwatch fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>GraphDB</h4>
                      <p></p>
                  </div>
              </div>
          </div>  

          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-laptop fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>Operating System</h4>
                      <p></p>
                  </div>
              </div>
          </div>
          
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-library fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>
                  <div class="media-body">
                      <h4>Iaas</h4>
                      <p> </p>
                  </div>
              </div>
          </div>
      </div>
</div>
<div class="row">
      <div class="container">
          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-drawer2 fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>PaaS</h4>
                      <p></p>
                  </div>
              </div>
          </div>  

          <div class="col-md-4 col-xs-12">
              <div class="media">
                  <div class="pull-left">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="icon-paste2 fa-stack-1x fa-inverse"></i>
                      </span> 
                  </div>
                  <div class="media-body">
                      <h4>Grid</h4>
                      <p></p>
                  </div>
              </div>
          </div>
          <br><br><br><br>
          <div class= "container">
              <div class="pull-right">
                  <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
              </div>
          </div>
        </div>
</div>

<!-- <div class="col-md-4 col-xs-12">
  <div class="media">
      <div class="pull-left">
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="icon-responsive16 fa-stack-1x fa-inverse"></i>
          </span>
      </div>
      <div class="media-body">
          <h4>MadCodeR.org</h4>
          <p></p>
      </div>
  </div>
</div> -->
      