<ng-include src="'views/main/slide.html'"></ng-include>
<br><br>
<section id="joe" ng-include="'views/main/joe.html'" class="joe features-blue"></section>
<br><br>
<section id="curriculum" ng-include="'views/main/curriculum.html'" class="curriculum features-blue"></section>
<br><br>
<section id="technology" ng-include="'views/main/technology.html'" class="technology features-blue"></section>
<br><br>
<section id="support" ng-include="'views/main/support.html'" class="support features-blue"></section>
<br><br>
<section id="contact-us" ng-include="'views/main/contact-us.html'" class="user-group features-blue"></section>